body {
    background-color: #FAB2EA;
    font-family: 'Lato', sans-serif;
}

main {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.navigation {
    background-color: #4A051C;
    height: 45px;
    max-width: 830px;
    width: auto;
    margin: auto;
    border-radius: 30px;
}

.nav {
    display: inline-block;
}

.mainCaption {
    color: #4A051C;
    text-transform: uppercase;
    letter-spacing: 5px;
    
}
.mainHeader {
    color: #4A051C;
    text-align: center;
}

.sectionHeader {
    color: white;
    background: #4A051C;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-radius: 30px;
    padding: 10px;
}

.paragraph {
    text-align: justify;
    padding: 0 15px 0 15px;
}

.headerFlower {
    color: white;
    background: #4A051C;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 5px;
    box-sizing: border-box;
    width: 400px;
    height: 53px;
    margin: auto;
}

.mainlink {
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: 900;
}
