body {
    background-color: rgb(226, 186, 223);
    font-family: 'Lato', sans-serif;
}
/* First step to responsive website */
.main {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.navigation {
    background-color: #4A051C;
    height: 45px;
    max-width: 830px;
    width: auto;
    margin: auto;
    border-radius: 30px;
}

.navigation__link {
    text-decoration: none;
    color: rgb(147, 100, 175);
    text-align: center;
    font-weight: 900;
}

.header {
    color: #4A051C;
    text-align: center;
}

.header__title {
    color: #4A051C;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.header__link {
    text-decoration: none;
    color: rgb(147, 100, 175);
    text-align: center;
    font-weight: 900;
}

.about {
    width: 800px;
}
.about__header {
    color: white;
    background: #4A051C;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-radius: 30px;
    padding: 10px;
}

.about__paragraph {
    text-align: justify;
    padding: 0 15px 0 15px;
}

.about__link {
    text-decoration: none;
    color: rgb(147, 100, 175);
    text-align: center;
    font-weight: 900;
}

.story {
    width: 800px;
}

.story__header {
    color: white;
    background: #4A051C;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-radius: 30px;
    padding: 10px;
}

.story__paragraph {
    text-align: justify;
    padding: 0 15px 0 15px;
}


.first-plant__header {
    color: white;
    background: #4A051C;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 5px;
    box-sizing: border-box;
    width: 400px;
    height: 53px;
    margin: auto;
}
.first-plant__picture {
    width: 100%;
    max-width: 200px;
    display: block;
    float: left;
}
.first-plant__paragraph {
    text-align: justify;
    padding: 0 15px 0 15px;
    clear: both;
}

.second-plant__
{

}

.second-plant__header {
    color: white;
    background: #4A051C;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 5px;
    box-sizing: border-box;
    width: 400px;
    height: 53px;
    margin: auto;
}

.second-plant__paragraph {
    text-align: justify;
    padding: 0 15px 0 15px;
    clear: both;
}

.footer {
    
}